# Python
__pycache__/
*.pyc
venv/
.env

# ML / YOLO / Torch
*.pt
*.pth
*.onnx
*.so
*.dylib

# Datasets
data/
datasets/
coco/
*.json

# Virtual environments inside project
lib/
lib64/
site-packages/

# Audio / large assets
*.sf2
*.wav
*.mp3

# OS / IDE
.DS_Store
.vscode/
.idea/
